Repository zeroc-ice/ice, pull requests merged in 2020-05, with the labels that each got.

#841 Nested Module Syntax Support
  cpp/src/Slice/Grammar.cpp
  cpp/src/Slice/Grammar.y
  cpp/src/Slice/GrammarUtil.h
  cpp/src/Slice/Parser.cpp
  cpp/src/Slice/Scanner.cpp
  cpp/src/Slice/Scanner.l
  cpp/src/Slice/SliceUtil.cpp
  cpp/src/Slice/Util.h
  cpp/test/Ice/ami/Test.ice
  cpp/test/Ice/scope/Test.ice
  cpp/test/Ice/stream/Test.ice
  cpp/test/Slice/errorDetection/CaseInsensitive.err
  cpp/test/Slice/errorDetection/CaseInsensitive.ice
  cpp/test/Slice/errorDetection/Reserved.err
  cpp/test/Slice/errorDetection/Reserved.ice
  csharp/test/Ice/ami/Test.ice
  csharp/test/Ice/scope/Test.ice
  java/test/Ice/translator/DoubleModuleNoPackage.ice
  java/test/Ice/translator/DoubleModuleWithPackage.ice
  java/test/Ice/translator/TestDoubleModuleNoPackage5.ice
  java/test/Ice/translator/TestDoubleModuleNoPackage6.ice
  java/test/Ice/translator/TestDoubleModuleNoPackage7.ice
  java/test/Ice/translator/TestDoubleModuleWithPackage10.ice
  java/test/Ice/translator/TestDoubleModuleWithPackage11.ice
  java/test/Ice/translator/TestDoubleModuleWithPackage8.ice
  java/test/Ice/translator/TestDoubleModuleWithPackage9.ice
  java/test/Ice/translator/TestSingleModuleNoPackage6.ice
  java/test/Ice/translator/TestSingleModuleNoPackage7.ice
  java/test/Ice/translator/TestSingleModuleWithPackage10.ice
  java/test/Ice/translator/TestSingleModuleWithPackage11.ice
  java/test/Ice/translator/TestSingleModuleWithPackage12.ice
  java/test/Ice/translator/TestSingleModuleWithPackage13.ice
  java/test/Ice/translator/TestSingleModuleWithPackage9.ice
  java/test/src/main/java/test/Ice/ami/Test.ice
  java/test/src/main/java/test/Ice/scope/Test.ice
  js/test/Ice/import/Demo/Canvas.ice
  js/test/Ice/import/Demo/Circle.ice
  js/test/Ice/import/Demo/Point.ice
  js/test/Ice/import/Demo/Square.ice
  js/test/Ice/scope/Test.ice
  js/test/typescript/Ice/scope/Test.ice
  matlab/test/Ice/ami/Test.ice
  python/test/Ice/ami/Test.ice
  python/test/Ice/scope/Test.ice
  scripts/Controller.ice
  swift/test/Ice/ami/Test.ice
  swift/test/Ice/scope/Test.ice
  swift/test/Ice/stream/Test.ice
Labels: cpp, enhancement, slice

#855 Containers can share names with enclosing modules
  cpp/src/Slice/Parser.cpp
  cpp/src/Slice/Parser.h
  cpp/src/Slice/SliceUtil.cpp
  cpp/src/Slice/Util.h
  cpp/test/Slice/errorDetection/Reserved.err
Labels: enhancement, slice

#869 C# IceDiscovery plug-in cleanup
  csharp/src/IceDiscovery/Locator.cs
  csharp/src/IceDiscovery/Lookup.cs
  csharp/src/IceDiscovery/Plugin.cs
Labels: csharp
