Repository zeroc-ice/ice, pull requests merged in 2020-10, with the labels that each got.

#1078 Add missing import to fix Swift framework build (#1077)
  swift/src/IceImpl/TraceUtil.h
  swift/src/IceImpl/TraceUtil.mm
Labels: swift

#1090 C# binding test IPv4 and IPv6 cleanup
  csharp/test/Ice/binding/AllTests.cs
Labels: cleanup, csharp

#1086 Disallow IPv4 any addres & IPv6 any address in proxy endpoints
  csharp/src/Ice/IPEndpoint.cs
  csharp/test/Ice/proxy/AllTests.cs
Labels: csharp

#1083 Add IPv6 only endpoint option
  csharp/src/Ice/IPEndpoint.cs
  csharp/src/Ice/Network.cs
  csharp/src/Ice/TcpAcceptor.cs
  csharp/src/Ice/UdpEndpoint.cs
  csharp/src/Ice/UdpTransceiver.cs
  csharp/test/Ice/binding/AllTests.cs
Labels: csharp

#1087 Removing fice from slice
  cpp/include/Ice/Incoming.h
  cpp/include/Ice/Proxy.h
  cpp/src/Glacier2/SessionRouterI.h
  cpp/src/Glacier2Lib/msbuild/glacier2/glacier2.vcxproj
  cpp/src/Glacier2Lib/msbuild/glacier2/glacier2.vcxproj.filters
  cpp/src/Ice/LocatorInfo.h
  cpp/src/Ice/Reference.h
  cpp/src/Ice/msbuild/ice/ice.vcxproj
  cpp/src/Ice/msbuild/ice/ice.vcxproj.filters
  cpp/src/IceGrid/Internal.ice
  cpp/src/IceGrid/RegistryI.h
  csharp/src/Glacier2/glacier2.csproj
  js/src/Glacier2/.gitignore
  js/src/Glacier2/sources.json
  js/src/Ice/.gitignore
  js/src/Ice/sources.json
  slice/Glacier2/PermissionsVerifierF.ice
  slice/Glacier2/RouterF.ice
  slice/Ice/LocatorF.ice
  slice/Ice/ProcessF.ice
  slice/Ice/RouterF.ice
  swift/ice.xcodeproj/project.pbxproj
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice iOS.xcscheme
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice macOS.xcscheme
Labels: cleanup, slice

#1102 Remove Ice.PreferIPv6Address and update discovery plugins
  config/PropertyNames.xml
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/INetworkProxy.cs
  csharp/src/Ice/IPEndpoint.cs
  csharp/src/Ice/IceDiscovery/Plugin.cs
  csharp/src/Ice/IceLocatorDiscovery/Plugin.cs
  csharp/src/Ice/Network.cs
  csharp/src/Ice/TcpAcceptor.cs
  csharp/src/Ice/UdpConnector.cs
  csharp/src/Ice/UdpEndpoint.cs
  csharp/src/Ice/UdpTransceiver.cs
  csharp/test/Ice/info/AllTests.cs
  csharp/test/Ice/udp/AllTests.cs
  csharp/test/Ice/udp/Server.cs
  csharp/test/IceDiscovery/simple/AllTests.cs
  csharp/test/IceGrid/simple/AllTests.cs
  csharp/test/IceSSL/configuration/AllTests.cs
  scripts/Util.py
  scripts/tests/IceDiscovery/simple.py
Labels: csharp

#1104 Compiler Cleanup and Metadata Helper Functions
  cpp/src/Slice/Parser.cpp
  cpp/src/Slice/Parser.h
  cpp/src/Slice/SliceUtil.cpp
  cpp/src/Slice/Util.h
  cpp/src/slice2cpp/Gen.cpp
  cpp/src/slice2cs/Gen.cpp
  cpp/src/slice2java/Gen.cpp
  cpp/src/slice2js/Gen.cpp
Labels: cleanup, enhancement, slice

#1097 Enable SocketOptionName.ExclusiveAddressUse
  csharp/src/Ice/Network.cs
  csharp/src/Ice/UdpTransceiver.cs
Labels: csharp

#1111 Endpoint refactoring
  csharp/src/Ice/ColocatedEndpoint.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Endpoint.cs
  csharp/src/Ice/EndpointFactory.cs
  csharp/src/Ice/IEndpointFactory.cs
  csharp/src/Ice/IPEndpoint.cs
  csharp/src/Ice/Ice1Parser.cs
  csharp/src/Ice/InputStream.cs
  csharp/src/Ice/OpaqueEndpoint.cs
  csharp/src/Ice/OutgoingFrame.cs
  csharp/src/Ice/OutputStream.cs
  csharp/src/Ice/TcpEndpoint.cs
  csharp/src/Ice/Transport.cs
  csharp/src/Ice/UdpEndpoint.cs
  csharp/src/Ice/UniversalEndpoint.cs
  csharp/src/Ice/UriParser.cs
  csharp/src/Ice/WSEndpoint.cs
  slice/Ice/Endpoint.ice
Labels: csharp

#1113 Do no retry DNS failures
  csharp/src/Ice/Network.cs
Labels: csharp

#1117 Fix trace levels
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/ConnectionFactory.cs
  csharp/src/Ice/InputStream-Class.cs
  csharp/src/Ice/LocatorInfo.cs
  csharp/src/Ice/MultiStreamTransceiver.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/Proxy.cs
  csharp/src/Ice/Reference.cs
  csharp/src/Ice/SlicTransceiver.cs
  csharp/src/Ice/TraceLevels.cs
  csharp/src/Ice/UdpEndpoint.cs
  csharp/src/Ice/WSTransceiver.cs
Labels: csharp

#1120 Fix Xcode 12 build failures
  Cartfile.resolved
  swift/Makefile
  swift/Rakefile
  swift/carthage.sh
  swift/ice.xcodeproj/project.pbxproj
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice iOS.xcscheme
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice macOS.xcscheme
Labels: swift

#1119 More locator and IceDiscovery refactoring
  csharp/src/Ice/Endpoint.cs
  csharp/src/Ice/IceDiscovery/Locator.cs
  csharp/src/Ice/IceDiscovery/LocatorRegistry.cs
  csharp/src/Ice/IceDiscovery/Lookup.cs
  csharp/src/Ice/IceDiscovery/Plugin.cs
  csharp/src/Ice/IceLocatorDiscovery/Locator.cs
  csharp/src/Ice/IceLocatorDiscovery/Plugin.cs
  csharp/src/Ice/InputStream.cs
  csharp/src/Ice/LocatorInfo.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/Proxy.cs
  csharp/src/Ice/Reference.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/Ice/location/ServerLocator.cs
  csharp/test/Ice/location/ServerLocatorRegistry.cs
  slice/Ice/Exceptions.ice
  slice/Ice/Locator.ice
  slice/IceDiscovery/IceDiscovery.ice
Labels: csharp

#1121 Faceted well-known proxies
  csharp/src/Ice/IceDiscovery/Locator.cs
  csharp/src/Ice/IceDiscovery/LocatorRegistry.cs
  csharp/src/Ice/IceDiscovery/Lookup.cs
  csharp/src/Ice/IceLocatorDiscovery/Locator.cs
  csharp/src/Ice/LocatorInfo.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/Ice/location/ServerLocator.cs
  csharp/test/Ice/location/ServerLocatorRegistry.cs
  csharp/test/Ice/location/TestI.cs
  csharp/test/IceDiscovery/simple/AllTests.cs
  csharp/test/IceDiscovery/simple/Server.cs
  csharp/test/IceDiscovery/simple/Test.ice
  csharp/test/IceDiscovery/simple/TestI.cs
  slice/Ice/Locator.ice
  slice/IceDiscovery/IceDiscovery.ice
Labels: csharp

#1124 Locator discovery refactoring
  csharp/src/Ice/IceDiscovery/Locator.cs
  csharp/src/Ice/IceLocatorDiscovery/Locator.cs
  csharp/src/Ice/LocatorDiscovery/Locator.cs
  csharp/src/Ice/LocatorDiscovery/Plugin.cs
  csharp/src/Ice/ice.csproj
  csharp/test/IceGrid/simple/AllTests.cs
  csharp/test/IceGrid/simple/Client.cs
  csharp/test/IceGrid/simple/Server.cs
  csharp/test/IceGrid/simple/Test.ice
  csharp/test/IceGrid/simple/TestI.cs
  scripts/Util.py
  slice/Ice/LocatorDiscovery.ice
Labels: csharp

#1125 Simplify ObjectAdapter
  csharp/src/Ice/ConnectionFactory.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/Proxy.cs
  csharp/src/Ice/RouterInfo.cs
  csharp/test/Ice/adapterDeactivation/AllTests.cs
  csharp/test/Ice/info/AllTests.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/Ice/location/TestI.cs
Labels: csharp

#1127 Move discovery plugin to Ice/Discovery
  csharp/src/Ice/Discovery/Locator.cs
  csharp/src/Ice/Discovery/LocatorRegistry.cs
  csharp/src/Ice/Discovery/Lookup.cs
  csharp/src/Ice/Discovery/Plugin.cs
  csharp/src/Ice/ice.csproj
  csharp/test/IceDiscovery/simple/AllTests.cs
  csharp/test/IceDiscovery/simple/Client.cs
  csharp/test/IceDiscovery/simple/Server.cs
  csharp/test/IceDiscovery/simple/Test.ice
  csharp/test/IceDiscovery/simple/TestI.cs
  scripts/Util.py
  slice/Ice/Discovery.ice
  slice/Ice/LocatorDiscovery.ice
  slice/IceDiscovery/IceDiscovery.ice
  slice/IceLocatorDiscovery/IceLocatorDiscovery.ice
Labels: csharp

#1128 Reworked lookup sends in LocatorDiscovery
  csharp/src/Ice/Discovery/Locator.cs
  csharp/src/Ice/Discovery/Plugin.cs
  csharp/src/Ice/LocatorDiscovery/Locator.cs
  csharp/src/Ice/LocatorDiscovery/Plugin.cs
Labels: csharp
