Repository zeroc-ice/ice, pull requests merged in 2020-12, with the labels that each got.

#1170 Workaround JS frameworks that don't support Symbol.species with Promises
  CHANGELOG-3.7.md
  js/src/Ice/AsyncResultBase.js
  js/src/Ice/OutgoingAsync.js
  js/src/Ice/Promise.js
Labels: js

#1177 Add support for PHP 8 (Fixes #1172)
  php/Makefile
  php/msbuild/ice.sln
  php/src/php/Communicator.cpp
  php/src/php/Communicator.h
  php/src/php/Config.h
  php/src/php/Connection.cpp
  php/src/php/Connection.h
  php/src/php/Endpoint.cpp
  php/src/php/Endpoint.h
  php/src/php/IcePHP.rc
  php/src/php/Init.cpp
  php/src/php/Logger.cpp
  php/src/php/Logger.h
  php/src/php/Makefile.mk
  php/src/php/Operation.cpp
  php/src/php/Operation.h
  php/src/php/Properties.cpp
  php/src/php/Properties.h
  php/src/php/Proxy.cpp
  php/src/php/Proxy.h
  php/src/php/Types.cpp
  php/src/php/Types.h
  php/src/php/Util.cpp
  php/src/php/Util.h
  php/src/php/msbuild/.gitignore
  php/src/php/msbuild/packages.config
  php/src/php/msbuild/php_ice.vcxproj
  php/src/php/msbuild/php_ice.vcxproj.filters
  php/src/php5/Communicator.cpp
  php/src/php5/Connection.cpp
  php/src/php5/Endpoint.cpp
  php/src/php5/Init.cpp
  php/src/php5/Logger.cpp
  php/src/php5/Properties.cpp
  php/src/php5/Proxy.cpp
Labels: php

#1181 Simplify async -> sync wrapping
  csharp/src/Ice/Communicator-ObjectAdapterFactory.cs
  csharp/src/Ice/Communicator-PluginManager.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Connection.cs
  csharp/src/Ice/ExceptionUtil.cs
  csharp/src/Ice/IObjectPrx.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/Proxy.cs
  csharp/src/Ice/TaskExtensions.cs
  csharp/src/iceboxnet/ServiceManager.cs
  csharp/test/Glacier2/sessionHelper/Client.cs
Labels: csharp

#1182 Xcode 12.2 build fixes
  swift/Makefile
  swift/Rakefile
  swift/buildsettings.xcconfig
  swift/ice.xcodeproj/project.pbxproj
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice iOS.xcscheme
  swift/ice.xcodeproj/xcshareddata/xcschemes/Ice macOS.xcscheme
Labels: swift

#1183 Make CreateObjectAdapter non-blocking sync
  csharp/src/Ice/Communicator-ObjectAdapterFactory.cs
  csharp/src/Ice/Communicator-PluginManager.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Discovery/Locator.cs
  csharp/src/Ice/Endpoint.cs
  csharp/src/Ice/IPEndpoint.cs
  csharp/src/Ice/IPlugin.cs
  csharp/src/Ice/LocatorDiscovery/Locator.cs
  csharp/src/Ice/LocatorInfo.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/PluginInitializationContext.cs
  csharp/src/iceboxnet/ServiceManager.cs
  csharp/test/Ice/acm/TestI.cs
  csharp/test/Ice/adapterDeactivation/AllTests.cs
  csharp/test/Ice/adapterDeactivation/TestI.cs
  csharp/test/Ice/admin/AllTests.cs
  csharp/test/Ice/admin/TestI.cs
  csharp/test/Ice/binding/RemoteCommunicatorI.cs
  csharp/test/Ice/discovery/TestI.cs
  csharp/test/Ice/interceptor/DispatchInterceptors.cs
  csharp/test/Ice/interceptor/DispatchPlugin.cs
  csharp/test/Ice/interceptor/InvocationPlugin.cs
  csharp/test/Ice/location/ServerManagerI.cs
  csharp/test/Ice/metrics/AllTests.cs
  csharp/test/Ice/metrics/MetricsAMDI.cs
  csharp/test/Ice/metrics/MetricsI.cs
  csharp/test/Ice/plugin/BasePlugin.cs
  csharp/test/Ice/plugin/BasePluginFail.cs
  csharp/test/Ice/plugin/Client.cs
  csharp/test/Ice/plugin/PluginFactory.cs
  csharp/test/Ice/plugin/PluginInitializeFailFactory.cs
  csharp/test/Ice/plugin/PluginOneFactory.cs
  csharp/test/Ice/plugin/PluginOneFailFactory.cs
  csharp/test/Ice/plugin/PluginThreeFactory.cs
  csharp/test/Ice/plugin/PluginThreeFailFactory.cs
  csharp/test/Ice/plugin/PluginTwoFactory.cs
  csharp/test/Ice/plugin/PluginTwoFailFactory.cs
  csharp/test/IceSSL/configuration/TestI.cs
Labels: csharp

#1188 Better handling of undefined values
  js/src/Ice/Stream.js
  js/src/Ice/StreamHelpers.js
Labels: enhancement, js

#1178 Changing new in cs
  csharp/src/Ice/Discovery/Locator.cs
  csharp/test/Glacier2/router/CallbackI.cs
  csharp/test/Glacier2/sessionHelper/Client.cs
  csharp/test/Ice/acm/AllTests.cs
  csharp/test/Ice/acm/TestI.cs
  csharp/test/Ice/admin/AllTests.cs
  csharp/test/Ice/binding/AllTests.cs
  csharp/test/Ice/exceptions/ThrowerAMDI.cs
  csharp/test/Ice/interceptor/DispatchInterceptors.cs
  csharp/test/Ice/interceptor/TestAMDI.cs
  csharp/test/Ice/metrics/InstrumentationI.cs
  csharp/test/Ice/objects/InitialI.cs
  csharp/test/Ice/objects/UnexpectedObjectExceptionTestI.cs
  csharp/test/Ice/operations/MyDerivedClassAMDI.cs
  csharp/test/Ice/operations/MyDerivedClassI.cs
  csharp/test/Ice/operations/Twoways.cs
  csharp/test/Ice/perf/TestI.cs
  csharp/test/Ice/plugin/Client.cs
  csharp/test/Ice/plugin/PluginOneFailFactory.cs
  csharp/test/Ice/proxy/MyDerivedClassAMDI.cs
  csharp/test/Ice/scope/AllTests.cs
  csharp/test/Ice/seqMapping/MyClassAMDI.cs
  csharp/test/Ice/tagged/TestAMDI.cs
  csharp/test/Ice/tagged/TestI.cs
  csharp/test/Ice/threading/AllTests.cs
  csharp/test/IceSSL/configuration/AllTests.cs
  csharp/test/Slice/escape/Client.cs
  csharp/test/xamarin/controller/App.xaml.cs
  csharp/test/xamarin/controller/MainPage.xaml.cs
Labels: cleanup, csharp

#1168 Added Type-Alias Support
  cpp/src/Slice/Grammar.cpp
  cpp/src/Slice/Grammar.h
  cpp/src/Slice/Grammar.y
  cpp/src/Slice/GrammarUtil.h
  cpp/src/Slice/Parser.cpp
  cpp/src/Slice/Parser.h
  cpp/src/Slice/Scanner.cpp
  cpp/src/Slice/Scanner.l
  cpp/src/Slice/SliceUtil.cpp
  cpp/src/Slice/Util.h
  cpp/src/slice2cpp/CPlusPlusUtil.cpp
  cpp/src/slice2cs/Gen.cpp
  cpp/src/slice2java/Gen.cpp
  cpp/test/Slice/errorDetection/TypeAlias.err
  cpp/test/Slice/errorDetection/TypeAlias.ice
  cpp/test/Slice/escape/Key.ice
  csharp/msbuild/ice.test.sln
  csharp/test/Slice/alias/AllTests.cs
  csharp/test/Slice/alias/Client.cs
  csharp/test/Slice/alias/Server.cs
  csharp/test/Slice/alias/Test.ice
  csharp/test/Slice/alias/TestI.cs
  csharp/test/Slice/alias/msbuild/client/client.csproj
  csharp/test/Slice/alias/msbuild/server/server.csproj
Labels: cpp, enhancement, slice

#1190 Simplify plug-in API
  csharp/src/Ice/Communicator-PluginManager.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/IPlugin.cs
  csharp/test/Ice/plugin/Client.cs
  csharp/test/Ice/plugin/PluginOneFactory.cs
  csharp/test/Ice/plugin/PluginOneFailFactory.cs
  csharp/test/Ice/plugin/PluginThreeFactory.cs
  csharp/test/Ice/plugin/PluginTwoFactory.cs
  csharp/test/Ice/plugin/PluginTwoFailFactory.cs
  csharp/test/Slice/alias/AllTests.cs
  csharp/test/Slice/alias/msbuild/client/client.csproj
Labels: csharp

#1195 Update .NET default version
  scripts/Util.py
Labels: csharp

#1192 Properties refactoring
  csharp/src/Ice/Communicator-Properties.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Properties.cs
  csharp/src/Ice/Reference.cs
  csharp/src/Ice/StringUtil.cs
Labels: csharp

#1194 Add new Communicator.DestroyAsync method
  csharp/src/Ice/Communicator-OutgoingConnectionFactory.cs
  csharp/src/Ice/Communicator.cs
  csharp/test/Ice/acm/TestI.cs
Labels: csharp

#1197 Udp multicast testing fixes
  java-compat/test/src/main/java/test/Ice/udp/AllTests.java
  java/test/src/main/java/test/Ice/udp/AllTests.java
  swift/test/Ice/udp/AllTests.swift
Labels: csharp

#1199 Use pragmas to disable code analyzer warnings in generated code
  cpp/src/slice2cs/Gen.cpp
Labels: csharp

#1198 Fix IceSSL/configuration to check if TLS 1.1 is enabled
  csharp/test/IceSSL/configuration/AllTests.cs
Labels: csharp

#1204 Fixed IceGridGUI bug where service metrics were missing (fixes #1203)
  java/src/IceGridGUI/src/main/java/com/zeroc/IceGridGUI/LiveDeployment/Communicator.java
  java/src/IceGridGUI/src/main/java/com/zeroc/IceGridGUI/LiveDeployment/Server.java
  java/src/IceGridGUI/src/main/java/com/zeroc/IceGridGUI/LiveDeployment/Service.java
Labels: icegrid gui

#1206 Move binary context to request/response header
  cpp/src/slice2cs/CsUtil.cpp
  csharp/src/Ice/BinaryContext.cs
  csharp/src/Ice/ByteBufferExtensions.cs
  csharp/src/Ice/ColocatedSocket.cs
  csharp/src/Ice/ColocatedStream.cs
  csharp/src/Ice/Connection.cs
  csharp/src/Ice/Current.cs
  csharp/src/Ice/Ice1Definitions.cs
  csharp/src/Ice/Ice1NetworkSocket.cs
  csharp/src/Ice/Ice1NetworkSocketStream.cs
  csharp/src/Ice/Ice1Parser.cs
  csharp/src/Ice/Ice2Definitions.cs
  csharp/src/Ice/IncomingFrame.cs
  csharp/src/Ice/IncomingRequestFrame.cs
  csharp/src/Ice/IncomingResponseFrame.cs
  csharp/src/Ice/InputStream.cs
  csharp/src/Ice/MultiStreamSocket.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/Ice/OutgoingFrame.cs
  csharp/src/Ice/OutgoingRequestFrame.cs
  csharp/src/Ice/OutgoingResponseFrame.cs
  csharp/src/Ice/OutputStream.cs
  csharp/src/Ice/ProtocolExtensions.cs
  csharp/src/Ice/Reference.cs
  csharp/src/Ice/SlicSocket.cs
  csharp/src/Ice/SlicStream.cs
  csharp/src/Ice/SocketStream.cs
  csharp/test/Ice/compress/TestI.cs
  csharp/test/Ice/info/AllTests.cs
  csharp/test/Ice/interceptor/AllTests.cs
  csharp/test/Ice/interceptor/DispatchInterceptors.cs
  csharp/test/Ice/interceptor/DispatchPlugin.cs
  csharp/test/Ice/interceptor/InvocationPlugin.cs
  csharp/test/Ice/metrics/AllTests.cs
  csharp/test/Ice/operations/Twoways.cs
  csharp/test/Ice/proxy/AllTests.cs
  csharp/test/Ice/proxy/MyDerivedClassI.cs
  csharp/test/Ice/timeout/AllTests.cs
  slice/Ice/Context.ice
  slice/Ice/Ice1Definitions.ice
  slice/Ice/Ice2Definitions.ice
Labels: csharp

#1212 Switched some C# tests to the new TestHelper
  csharp/test/Ice/acm/Server.cs
  csharp/test/Ice/adapterDeactivation/AllTests.cs
  csharp/test/Ice/adapterDeactivation/Client.cs
  csharp/test/Ice/adapterDeactivation/Collocated.cs
  csharp/test/Ice/adapterDeactivation/Servant.cs
  csharp/test/Ice/adapterDeactivation/Server.cs
  csharp/test/Ice/adapterDeactivation/TestI.cs
  csharp/test/Ice/admin/AllTests.cs
  csharp/test/Ice/admin/Client.cs
  csharp/test/Ice/admin/Server.cs
  csharp/test/Ice/admin/TestI.cs
  csharp/test/Ice/ami/AllTests.cs
  csharp/test/Ice/ami/Client.cs
  csharp/test/Ice/ami/Collocated.cs
  csharp/test/Ice/ami/Server.cs
  csharp/test/Ice/ami/TestI.cs
  csharp/test/Ice/binding/AllTests.cs
  csharp/test/Ice/binding/Client.cs
  csharp/test/Ice/binding/RemoteCommunicatorI.cs
  csharp/test/Ice/binding/Server.cs
Labels: csharp, testsuite

#1220 Prevent dictionary key being GC while unmarshal a value class
  ruby/src/IceRuby/Types.cpp
Labels: ruby
