Repository zeroc-ice/ice, pull requests merged in 2020-07, with the labels that each got.

#937 Slice Parser Reworking
  cpp/src/Slice/FileTracker.h
  cpp/src/Slice/Grammar.cpp
  cpp/src/Slice/Grammar.y
  cpp/src/Slice/Parser.cpp
  cpp/src/Slice/Parser.h
  cpp/src/Slice/Preprocessor.cpp
  cpp/src/Slice/StringLiteralUtil.cpp
  cpp/src/slice2cpp/Gen.cpp
  cpp/src/slice2cpp/Gen.h
  cpp/src/slice2cs/CsUtil.h
  cpp/src/slice2cs/Gen.h
  cpp/src/slice2java/Gen.h
  cpp/src/slice2java/JavaUtil.cpp
  cpp/src/slice2js/Gen.h
  cpp/src/slice2matlab/Main.cpp
  cpp/src/slice2swift/Gen.h
  cpp/src/slice2swift/SwiftUtil.h
  cpp/test/Slice/errorDetection/DummyAtGlobalLevel.err
Labels: cleanup, cpp, slice

#970 Improvements to GetPropertyAsBool
  csharp/src/Ice/Communicator-Properties.cs
  csharp/test/Ice/properties/Client.cs
Labels: csharp, enhancement

#978 Remove Ice.Default.Host from C#
  config/PropertyNames.xml
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/IPEndpoint.cs
  csharp/test/Ice/acm/TestI.cs
  csharp/test/Ice/adapterDeactivation/AllTests.cs
  csharp/test/Ice/adapterDeactivation/TestI.cs
  csharp/test/Ice/binding/AllTests.cs
  csharp/test/Ice/hash/Client.cs
  csharp/test/Ice/info/AllTests.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/Ice/metrics/Client.cs
  csharp/test/Ice/metrics/Collocated.cs
  csharp/test/Ice/metrics/Server.cs
  csharp/test/Ice/metrics/ServerAMD.cs
  csharp/test/Ice/proxy/AllTests.cs
  csharp/test/Ice/udp/AllTests.cs
  csharp/test/IceBox/admin/AllTests.cs
  csharp/test/IceBox/admin/Client.cs
  csharp/test/IceBox/configuration/Client.cs
  csharp/test/IceDiscovery/simple/TestI.cs
  csharp/test/IceGrid/simple/AllTests.cs
  csharp/test/IceGrid/simple/application.netcoreapp.xml
  csharp/test/IceGrid/simple/application.xml
  csharp/test/IceSSL/configuration/AllTests.cs
  csharp/test/IceSSL/configuration/TestI.cs
  csharp/test/Slice/escape/Client.cs
  csharp/test/TestCommon/TestHelper.cs
  python/test/TestHelper.py
  scripts/Controller.py
  scripts/IceGridUtil.py
  scripts/LocalDriver.py
  scripts/Util.py
  scripts/tests/IceGrid/simple.py
Labels: csharp
