Repository zeroc-ice/ice, pull requests merged in 2020-04, with the labels that each got.

#790 Default and overrides cleanup
  csharp/src/Ice/Communicator-EndpointFactoryManager.cs
  csharp/src/Ice/Communicator-Properties.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Connection.cs
  csharp/src/Ice/ConnectionFactory.cs
  csharp/src/Ice/DefaultsAndOverrides.cs
  csharp/src/Ice/Reference.cs
  csharp/src/Ice/TransportInstance.cs
Labels: cleanup, csharp

#794 Communicator defaults cleanup
  csharp/src/Glacier2/SessionHelper.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/ObjectAdapter.cs
  csharp/src/IceDiscovery/Plugin.cs
  csharp/src/IceLocatorDiscovery/PluginI.cs
  csharp/test/Glacier2/router/Client.cs
  csharp/test/Glacier2/sessionHelper/Client.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/IceDiscovery/simple/AllTests.cs
  csharp/test/IceGrid/simple/AllTests.cs
Labels: cleanup, csharp, easy

#798 Fix for SecPolicyCreateSSL in Catalina and iOS 13
  CHANGELOG-3.7.md
  cpp/src/IceSSL/SecureTransportTransceiverI.cpp
Labels: bug

#801 Fix compilation errors caused by parameters not declared in this scope
  cpp/src/IceSSL/OpenSSLTransceiverI.cpp
Labels: bug

#811 Added metadata for specifying oneway operations in Slice
  cpp/src/slice2cs/Gen.cpp
  csharp/src/Ice/IObjectPrx.cs
  csharp/src/Ice/OutgoingRequest.cs
  csharp/test/Ice/operations/MyDerivedClassAMDI.cs
  csharp/test/Ice/operations/MyDerivedClassI.cs
  csharp/test/Ice/operations/Oneways.cs
  csharp/test/Ice/operations/OnewaysAMI.cs
  csharp/test/Ice/operations/Test.ice
  csharp/test/Ice/operations/TestAMD.ice
  csharp/test/Ice/operations/Twoways.cs
  csharp/test/Ice/operations/TwowaysAMI.cs
Labels: csharp, enhancement
