Repository zeroc-ice/ice, pull requests merged in 2020-06, with the labels that each got.

#871 Move process logger getter and setter to the Runtime static class
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/Encoding.cs
  csharp/src/Ice/MetricsAdminI.cs
  csharp/src/Ice/Protocol.cs
  csharp/src/Ice/Runtime.cs
  csharp/src/Ice/Util.cs
  csharp/src/iceboxnet/Server.cs
  csharp/test/Slice/macros/Client.cs
Labels: csharp

#881 slice2cs Compiler Additionally Generates AMD-only Servant
  cpp/src/slice2cs/Gen.cpp
  cpp/src/slice2cs/Gen.h
Labels: csharp, easy, slice

#884 Removed 'typeid-namespace' metadata from C# mapping.
  cpp/src/slice2cs/CsUtil.cpp
  cpp/src/slice2cs/CsUtil.h
  cpp/src/slice2cs/Gen.cpp
  csharp/src/Glacier2/SessionFactoryHelper.cs
  csharp/src/Glacier2/SessionHelper.cs
  csharp/src/Ice/Communicator.cs
  csharp/test/TestCommon/TestHelper.cs
Labels: cleanup, csharp, metadata

#895 Replace ICertificateVerifier by .NET native validation callback
  csharp/src/Glacier2/SessionHelper.cs
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/SslEngine.cs
  csharp/src/Ice/SslTransceiver.cs
  csharp/test/Directory.Build.props
  csharp/test/IceSSL/configuration/AllTests.cs
Labels: csharp, icessl

#910 Add GetPropertyAsTimeSpan in C#
  csharp/src/Ice/Communicator-Properties.cs
  csharp/test/Ice/properties/Client.cs
Labels: csharp

#927 Copy python dependencies to the extension directory
  python/modules/IcePy/msbuild/icepy.vcxproj
Labels: build-system, python

#929 More TimeSpan conversion improvements
  csharp/src/Ice/Communicator-Properties.cs
  csharp/src/Ice/TimeSpanExntesions.cs
  csharp/test/Ice/properties/Client.cs
Labels: csharp
