Repository zeroc-ice/ice, pull requests merged in 2021-01, with the labels that each got.

#1227 Fix localtime/gmtime usage
  cpp/src/IceSSL/OpenSSLCertificateI.cpp
  cpp/src/IceUtil/Time.cpp
Labels: cpp

#1232 Fix C# marshal/unmarshal of optional data members
  cpp/src/slice2cs/Gen.cpp
  cpp/test/Ice/optional/AllTests.cpp
  cpp/test/Ice/optional/Test.ice
  cpp/test/Ice/optional/TestAMD.ice
  cpp/test/Ice/optional/TestAMDI.cpp
  cpp/test/Ice/optional/TestI.cpp
  csharp/test/Ice/optional/AllTests.cs
  csharp/test/Ice/optional/Test.ice
  csharp/test/Ice/optional/TestAMD.ice
  csharp/test/Ice/optional/TestAMDI.cs
  csharp/test/Ice/optional/TestI.cs
  java-compat/test/build.gradle
  java-compat/test/src/main/java/test/Ice/optional/AMDInitialI.java
  java-compat/test/src/main/java/test/Ice/optional/AllTests.java
  java-compat/test/src/main/java/test/Ice/optional/InitialI.java
  java-compat/test/src/main/java/test/Ice/optional/Test.ice
  java-compat/test/src/main/java/test/Ice/optional/TestAMD.ice
  java/test/src/main/java/test/Ice/optional/AMDInitialI.java
  java/test/src/main/java/test/Ice/optional/AllTests.java
  java/test/src/main/java/test/Ice/optional/InitialI.java
  java/test/src/main/java/test/Ice/optional/Test.ice
  java/test/src/main/java/test/Ice/optional/TestAMD.ice
  js/test/Ice/optional/AMDInitialI.js
  js/test/Ice/optional/Client.js
  js/test/Ice/optional/InitialI.js
  js/test/Ice/optional/Test.ice
  matlab/test/Ice/optional/AllTests.m
  matlab/test/Ice/optional/Test.ice
  objective-c/test/Ice/optional/AllTests.m
  objective-c/test/Ice/optional/OptionalTest.ice
  objective-c/test/Ice/optional/TestI.m
  python/test/Ice/optional/AllTests.py
  python/test/Ice/optional/Server.py
  python/test/Ice/optional/ServerAMD.py
  python/test/Ice/optional/Test.ice
  ruby/test/Ice/optional/AllTests.rb
  ruby/test/Ice/optional/Test.ice
  swift/test/Ice/optional/AllTests.swift
  swift/test/Ice/optional/Test.ice
  swift/test/Ice/optional/TestAMD.ice
  swift/test/Ice/optional/TestAMDI.swift
  swift/test/Ice/optional/TestI.swift
Labels: bug, csharp

#1240 Switch to Async skeletons in Ice core
  cpp/src/slice2cs/Gen.cpp
  csharp/src/Ice/Discovery/Locator.cs
  csharp/src/Ice/Discovery/LocatorRegistry.cs
  csharp/src/Ice/IObject.cs
  csharp/src/Ice/LoggerAdmin.cs
  csharp/src/Ice/LoggerAdminLogger.cs
  csharp/src/Ice/MetricsAdmin.cs
  csharp/src/Ice/Process.cs
  csharp/src/Ice/PropertiesAdmin.cs
  csharp/test/Ice/admin/TestI.cs
  csharp/test/Ice/alias/Test.ice
  csharp/test/Ice/defaultServant/MyObjectI.cs
  csharp/test/Ice/metrics/AllTests.cs
  csharp/test/Ice/operations/MyDerivedClassAMDI.cs
  csharp/test/Ice/operations/MyDerivedClassI.cs
  csharp/test/Ice/proxy/MyDerivedClassAMDI.cs
  csharp/test/Ice/proxy/MyDerivedClassI.cs
  csharp/test/IceBox/admin/TestServiceI.cs
Labels: csharp

#1249 Move remaining C# tests to use new TestHelper
  csharp/test/Glacier2/router/CallbackI.cs
  csharp/test/Glacier2/router/Client.cs
  csharp/test/Glacier2/router/Server.cs
  csharp/test/Ice/alias/AllTests.cs
  csharp/test/Ice/alias/Client.cs
  csharp/test/Ice/alias/Server.cs
  csharp/test/Ice/alias/TestI.cs
  csharp/test/Ice/assemblies/Client.cs
  csharp/test/Ice/compress/AllTests.cs
  csharp/test/Ice/compress/Client.cs
  csharp/test/Ice/compress/Server.cs
  csharp/test/Ice/compress/TestI.cs
  csharp/test/Ice/interceptor/AllTests.cs
  csharp/test/Ice/interceptor/Client.cs
  csharp/test/Ice/interceptor/DispatchInterceptors.cs
  csharp/test/Ice/interceptor/InvocationPlugin.cs
  csharp/test/Ice/interceptor/Server.cs
  csharp/test/Ice/interceptor/ServerAMD.cs
  csharp/test/Ice/interceptor/TestI.cs
  csharp/test/Ice/location/AllTests.cs
  csharp/test/Ice/location/Client.cs
  csharp/test/Ice/location/Server.cs
  csharp/test/Ice/location/ServerManagerI.cs
  csharp/test/Ice/location/TestI.cs
  csharp/test/Ice/logger/Client.cs
  csharp/test/Ice/metrics/AllTests.cs
  csharp/test/Ice/metrics/Client.cs
  csharp/test/Ice/metrics/Collocated.cs
  csharp/test/Ice/metrics/InstrumentationI.cs
  csharp/test/Ice/metrics/Server.cs
  csharp/test/Ice/plugin/Client.cs
  csharp/test/Ice/properties/Client.cs
  csharp/test/IceGrid/simple/AllTests.cs
  csharp/test/IceGrid/simple/Client.cs
  csharp/test/IceGrid/simple/Server.cs
  csharp/test/IceSSL/configuration/AllTests.cs
  csharp/test/IceSSL/configuration/Client.cs
  csharp/test/IceSSL/configuration/Server.cs
  csharp/test/IceSSL/configuration/TestI.cs
  csharp/test/IceUtil/inputUtil/Client.cs
  csharp/test/Slice/escape/Client.cs
  csharp/test/Slice/macros/Client.cs
  csharp/test/Slice/structure/Client.cs
  csharp/test/TestCommon/TestHelper.cs
Labels: csharp, testsuite
