Repository zeroc-ice/ice, pull requests merged in 2021-03, with the labels that each got.

#1259 Lock subscription mutex around optional trace logs
  cpp/src/IceStorm/TopicI.cpp
Labels: bug, icestorm

#1260 Lock subscription mutex around optional trace logs
  cpp/src/IceStorm/TopicI.cpp
Labels: bug, icestorm

#1264 Fixed IceBT NullPointerException, fixes #1262
  java-compat/src/IceBT/src/main/java/IceBT/TransceiverI.java
  java/src/IceBT/src/main/java/com/zeroc/IceBT/TransceiverI.java
Labels: android

#1267 Support for building C++98 with a C++11 compiler
  cpp/include/Ice/Object.h
  cpp/src/Glacier2/RouterI.cpp
  cpp/src/IceDB/IceDB.cpp
  cpp/src/IceDB/IceDB.h
  cpp/src/IceGrid/DescriptorHelper.h
  cpp/src/IceGrid/ObjectCache.cpp
  cpp/src/IceGrid/ObjectCache.h
  cpp/src/IceGrid/Scanner.cpp
  cpp/src/IceStorm/Replica.h
  cpp/src/IceStorm/Scanner.cpp
  cpp/src/Slice/CPlusPlusUtil.cpp
  cpp/src/Slice/JavaUtil.cpp
  cpp/src/Slice/PHPUtil.cpp
  cpp/src/Slice/PythonUtil.cpp
  cpp/src/Slice/Scanner.cpp
  cpp/src/slice2confluence/Gen.cpp
  cpp/src/slice2cpp/Gen.cpp
  cpp/src/slice2html/Gen.cpp
  cpp/src/slice2matlab/Main.cpp
  cpp/src/slice2swift/SwiftUtil.cpp
  cpp/test/Glacier2/dynamicFiltering/TestControllerI.h
  cpp/test/IceGrid/deployer/AllTests.cpp
  matlab/src/Util.cpp
Labels: cpp
