Repository zeroc-ice/ice, pull requests merged in 2024-05, with the labels that each got.

#2146 Start using and adding default properties
  .github/workflows/clang_format.yml
  .vscode/cspell.json
  config/PropertyNames.xml
  cpp/src/Glacier2/Blobject.cpp
  cpp/src/Glacier2/ClientBlobject.cpp
  cpp/src/Glacier2/FilterManager.cpp
  cpp/src/Glacier2/Glacier2Router.cpp
  cpp/src/Glacier2/Instance.cpp
  cpp/src/Glacier2/ProxyVerifier.cpp
  cpp/src/Glacier2/RouterI.cpp
  cpp/src/Glacier2/RoutingTable.cpp
  cpp/src/Glacier2/SessionRouterI.cpp
  cpp/src/Glacier2Lib/SessionHelper.cpp
  cpp/src/Ice/ConnectionFactory.cpp
  cpp/src/Ice/ConnectionI.cpp
  cpp/src/Ice/DefaultsAndOverrides.cpp
  cpp/src/Ice/Instance.cpp
  cpp/src/Ice/LocatorInfo.cpp
  cpp/src/Ice/LoggerAdminI.cpp
  cpp/src/Ice/MetricsAdminI.cpp
  cpp/src/Ice/NetworkProxy.cpp
  cpp/src/Ice/ObjectAdapterI.cpp
  cpp/src/Ice/OutgoingAsync.cpp
  cpp/src/Ice/PluginManagerI.cpp
  cpp/src/Ice/PropertiesAdminI.cpp
  cpp/src/Ice/PropertyNames.cpp
  cpp/src/Ice/PropertyNames.h
  cpp/src/Ice/ReferenceFactory.cpp
  cpp/src/Ice/SSL/OpenSSLEngine.cpp
  cpp/src/Ice/SSL/SSLEngine.cpp
  cpp/src/Ice/SSL/SchannelEngine.cpp
  cpp/src/Ice/SSL/SecureTransportEngine.cpp
  cpp/src/Ice/Service.cpp
  cpp/src/Ice/ThreadPool.cpp
  cpp/src/Ice/ios/StreamEndpointI.cpp
  cpp/src/IceBox/Admin.cpp
  cpp/src/IceBox/ServiceManagerI.cpp
  cpp/src/IceBridge/IceBridge.cpp
  cpp/src/IceDiscovery/LookupI.cpp
  cpp/src/IceDiscovery/PluginI.cpp
  cpp/src/IceGrid/AdminSessionI.cpp
  cpp/src/IceGrid/FileCache.cpp
  cpp/src/IceGrid/NodeI.cpp
  cpp/src/IceGrid/Parser.cpp
  cpp/src/IceGrid/PlatformInfo.cpp
  cpp/src/IceGrid/RegistryI.cpp
  cpp/src/IceGrid/ServerI.cpp
  cpp/src/IceGrid/SessionI.cpp
  cpp/src/IceGrid/Util.cpp
  cpp/src/IceLocatorDiscovery/PluginI.cpp
  cpp/src/iceserviceinstall/ServiceInstaller.cpp
  cpp/test/Common/TestHelper.cpp
  cpp/test/Ice/background/Client.cpp
  cpp/test/Ice/background/Server.cpp
  csharp/src/Ice/Internal/PropertyNames.cs
  java/src/Ice/src/main/java/com/zeroc/IceInternal/PropertyNames.java
  js/src/Ice/PropertyNames.js
Labels: properties

#2172 Use getIceProperty in C#
  config/PropertyNames.xml
  cpp/src/Ice/PropertyNames.cpp
  cpp/src/Ice/PropertyNames.h
  csharp/src/Glacier2/SessionFactoryHelper.cs
  csharp/src/Ice/ConnectionI.cs
  csharp/src/Ice/Internal/AsyncIOThread.cs
  csharp/src/Ice/Internal/ConnectionFactory.cs
  csharp/src/Ice/Internal/DefaultsAndOverrides.cs
  csharp/src/Ice/Internal/EndpointHostResolver.cs
  csharp/src/Ice/Internal/Incoming.cs
  csharp/src/Ice/Internal/Instance.cs
  csharp/src/Ice/Internal/LocatorInfo.cs
  csharp/src/Ice/Internal/LoggerAdminI.cs
  csharp/src/Ice/Internal/MetricsAdminI.cs
  csharp/src/Ice/Internal/OutgoingAsync.cs
  csharp/src/Ice/Internal/PropertiesAdminI.cs
  csharp/src/Ice/Internal/PropertyNames.cs
  csharp/src/Ice/Internal/ProxyFactory.cs
  csharp/src/Ice/Internal/ReferenceFactory.cs
  csharp/src/Ice/Internal/ThreadPool.cs
  csharp/src/Ice/Internal/Timer.cs
  csharp/src/Ice/Internal/TraceLevels.cs
  csharp/src/Ice/ObjectAdapterI.cs
  csharp/src/Ice/PluginManagerI.cs
  csharp/src/Ice/SSL/SSLEngine.cs
  csharp/src/Ice/SSL/TransceiverI.cs
  csharp/src/Ice/SSL/TrustManager.cs
  csharp/src/IceBoxNet/ServiceManagerI.cs
  csharp/src/IceDiscovery/LookupI.cs
  csharp/src/IceDiscovery/PluginI.cs
  csharp/test/Ice/acm/TestI.cs
  java/src/Ice/src/main/java/com/zeroc/IceInternal/PropertyNames.java
  js/src/Ice/PropertyNames.js
Labels: csharp, properties

#2176 Merge PropertiesI.java and Properties.java
  .vscode/cspell.json
  java/src/Glacier2/src/main/java/com/zeroc/Glacier2/SessionFactoryHelper.java
  java/src/Ice/src/main/java/com/zeroc/Ice/Application.java
  java/src/Ice/src/main/java/com/zeroc/Ice/Properties.java
  java/src/Ice/src/main/java/com/zeroc/Ice/PropertiesI.java
  java/src/Ice/src/main/java/com/zeroc/Ice/Util.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/Instance.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/LoggerAdminI.java
  java/src/IceBox/src/main/java/com/zeroc/IceBox/Server.java
  java/src/IceBox/src/main/java/com/zeroc/IceBox/ServiceManagerI.java
  java/src/IceGridGUI/src/main/java/com/zeroc/IceGridGUI/Coordinator.java
  java/src/IceGridGUI/src/main/java/com/zeroc/IceGridGUI/LiveDeployment/MetricsViewEditor.java
  java/test/android/controller/src/main/java/com/zeroc/testcontroller/ControllerApp.java
  java/test/src/main/java/test/Ice/admin/AllTests.java
  java/test/src/main/java/test/Ice/admin/RemoteCommunicatorFactoryI.java
  java/test/src/main/java/test/Ice/binding/AllTests.java
  java/test/src/main/java/test/Ice/properties/Client.java
  java/test/src/main/java/test/IceSSL/configuration/AllTests.java
  java/test/src/main/java/test/IceSSL/configuration/ServerFactoryI.java
  java/test/src/main/java/test/TestHelper.java
Labels: java, properties

#2184 Use getIceProperty in Java
  java/src/Ice/src/main/java/com/zeroc/Ice/ConnectionI.java
  java/src/Ice/src/main/java/com/zeroc/Ice/SSL/SSLEngine.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/DefaultsAndOverrides.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/Incoming.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/Instance.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/InvocationFutureI.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/LoggerAdminI.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/MetricsAdminI.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/PropertiesAdminI.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/ReferenceFactory.java
  java/src/Ice/src/main/java/com/zeroc/IceInternal/ThreadPool.java
  java/src/IceBox/src/main/java/com/zeroc/IceBox/Admin.java
  java/src/IceDiscovery/src/main/java/com/zeroc/IceDiscovery/LookupI.java
  java/src/IceDiscovery/src/main/java/com/zeroc/IceDiscovery/PluginI.java
  java/src/IceLocatorDiscovery/src/main/java/com/zeroc/IceLocatorDiscovery/PluginI.java
  java/test/src/main/java/test/Ice/acm/RemoteCommunicatorI.java
  java/test/src/main/java/test/Ice/background/Client.java
  java/test/src/main/java/test/Ice/background/Server.java
  java/test/src/main/java/test/Ice/dispatcher/AllTests.java
  java/test/src/main/java/test/Ice/timeout/AllTests.java
Labels: java, properties

#2189 Cleanup code generated by slice2cs
  cpp/src/slice2cs/CsUtil.cpp
  cpp/src/slice2cs/CsUtil.h
  cpp/src/slice2cs/Gen.cpp
Labels: csharp, cleanup

#2190 Simplify sendResponse and dispatchException
  csharp/src/Ice/ConnectionI.cs
  csharp/src/Ice/Internal/CollocatedRequestHandler.cs
Labels: csharp, cleanup

#2200 Merge Communicator/CommunicatorI and more cleanup
  csharp/src/Ice/Communicator.cs
  csharp/src/Ice/CommunicatorI.cs
  csharp/src/Ice/ConnectionI.cs
  csharp/src/Ice/InputStream.cs
  csharp/src/Ice/Internal/CollocatedRequestHandler.cs
  csharp/src/Ice/Internal/ConnectRequestHandler.cs
  csharp/src/Ice/Internal/FixedRequestHandler.cs
  csharp/src/Ice/Internal/Instance.cs
  csharp/src/Ice/Internal/ProtocolInstance.cs
  csharp/src/Ice/Internal/ProtocolPluginFacade.cs
  csharp/src/Ice/Internal/ProxyFactory.cs
  csharp/src/Ice/Internal/Reference.cs
  csharp/src/Ice/Internal/RequestHandler.cs
  csharp/src/Ice/Internal/RequestHandlerCache.cs
  csharp/src/Ice/Internal/Util.cs
  csharp/src/Ice/LoggerPlugin.cs
  csharp/src/Ice/ObjectAdapterI.cs
  csharp/src/Ice/OutputStream.cs
  csharp/src/Ice/Proxy.cs
  csharp/src/Ice/SSL/Instance.cs
  csharp/src/Ice/ThreadHookPlugin.cs
  csharp/src/Ice/Util.cs
Labels: csharp, cleanup

#2210 String fields cannot be null in C#
  csharp/src/Ice/Internal/Instance.cs
  csharp/src/Ice/Internal/InstrumentationI.cs
  csharp/src/Ice/Internal/Reference.cs
  csharp/src/Ice/ObjectAdapterI.cs
  csharp/src/Ice/Util.cs
Labels: csharp
