Repository zeroc-ice/ice, pull requests merged in 2024-02, with the labels that each got.

#1748 Use auto-implemented properties in C# generated code
  cpp/src/slice2cs/CsUtil.cpp
  cpp/src/slice2cs/CsUtil.h
  cpp/src/slice2cs/Gen.cpp
  cpp/src/slice2cs/Gen.h
Labels: csharp, cleanup

#1769 Make _batchRequestQueue const
  cpp/include/Ice/Proxy.h
  cpp/src/Ice/Proxy.cpp
  cpp/src/Ice/Reference.h
Labels: cpp

#1773 Remove unused getReference functions
  cpp/src/Ice/CollocatedRequestHandler.h
  cpp/src/Ice/RequestHandler.h
Labels: cpp, cleanup

#1784 Remove UWP leftovers
  cpp/test/Common/TestHelper.cpp
  cpp/test/Ice/admin/AllTests.cpp
  cpp/test/Ice/metrics/AllTests.cpp
  cpp/test/Ice/operations/TestAMDI.cpp
  cpp/test/Ice/operations/TestI.cpp
  cpp/test/IceSSL/configuration/Client.cpp
  cpp/test/include/TestHelper.h
Labels: cpp, cleanup

#1782 Incoming cleanup
  cpp/include/Ice/Incoming.h
  cpp/include/Ice/IncomingAsync.h
  cpp/src/Ice/Incoming.cpp
  cpp/src/Ice/IncomingAsync.cpp
  cpp/src/Ice/ObserverHelper.cpp
  cpp/test/Ice/metrics/AllTests.cpp
  cpp/test/Ice/servantLocator/AllTests.cpp
Labels: cpp, cleanup

#1817 Update createProxy to return a non-optional ObjectPrx
  cpp/include/Ice/Connection.h
  cpp/include/Ice/ObjectAdapter.h
  cpp/src/Glacier2/Blobject.cpp
  cpp/src/Glacier2/Blobject.h
  cpp/src/Glacier2/ClientBlobject.cpp
  cpp/src/Glacier2/ServerBlobject.cpp
  cpp/src/Ice/ConnectionI.cpp
  cpp/src/Ice/ConnectionI.h
  cpp/src/Ice/Instance.cpp
  cpp/src/Ice/ObjectAdapterI.cpp
  cpp/src/Ice/ObjectAdapterI.h
  cpp/src/Ice/ReferenceFactory.cpp
  cpp/src/IceGrid/WellKnownObjectsManager.cpp
  cpp/src/IceGrid/WellKnownObjectsManager.h
  cpp/test/Ice/echo/BlobjectI.cpp
  swift/src/IceImpl/Connection.mm
  swift/src/IceImpl/ObjectAdapter.mm
Labels: cpp

#1827 Remove generation of unused OpNameResult structs in C++
  cpp/src/slice2cpp/Gen.cpp
Labels: cpp, cleanup

#1835 Add MATLAB CI
  .github/actions/build/action.yml
  .github/actions/setup-dependencies/action.yml
  .github/workflows/ci.yml
  matlab/Makefile
  matlab/src/Init.cpp
  matlab/src/Makefile.mk
Labels: matlab, ci

#1838 Outgoing cleanup
  cpp/include/Ice/Communicator.h
  cpp/include/Ice/Connection.h
  cpp/include/Ice/Ice.h
  cpp/include/Ice/OutgoingAsync.h
  cpp/include/Ice/OutgoingAsyncF.h
  cpp/include/Ice/Proxy.h
  cpp/include/IceBT/ConnectionInfo.h
  cpp/include/IceIAP/ConnectionInfo.h
  cpp/include/IceSSL/ConnectionInfo.h
  cpp/src/Ice/CollocatedRequestHandler.cpp
  cpp/src/Ice/Communicator.cpp
  cpp/src/Ice/CommunicatorI.cpp
  cpp/src/Ice/CommunicatorI.h
  cpp/src/Ice/ConnectRequestHandler.cpp
  cpp/src/Ice/Connection.cpp
  cpp/src/Ice/ConnectionFactory.cpp
  cpp/src/Ice/ConnectionFactory.h
  cpp/src/Ice/ConnectionI.cpp
  cpp/src/Ice/ConnectionI.h
  cpp/src/Ice/FixedRequestHandler.cpp
  cpp/src/Ice/ObjectAdapterI.h
  cpp/src/Ice/OutgoingAsync.cpp
  cpp/src/Ice/ProxyAsync.cpp
  cpp/src/Ice/ProxyFactory.cpp
  cpp/src/Ice/RequestHandler.h
  cpp/src/Ice/RetryQueue.cpp
  cpp/src/Ice/RetryQueue.h
  cpp/src/IceBox/Service.cpp
  cpp/src/IceGridLib/PluginFacade.cpp
  cpp/src/IceStorm/Instrumentation.cpp
  cpp/src/slice2cpp/Gen.cpp
Labels: cpp

#1840 Use local static const / constexpr for a strings
  cpp/include/Ice/Config.h
  cpp/include/Ice/LocalException.h
  cpp/include/Ice/Proxy.h
  cpp/include/IceUtil/OutputUtil.h
  cpp/src/Ice/InputStream.cpp
  cpp/src/Ice/Object.cpp
  cpp/src/Ice/OutputStream.cpp
  cpp/src/Ice/Proxy.cpp
  cpp/src/IceUtil/OutputUtil.cpp
  cpp/src/slice2cpp/Gen.cpp
  cpp/src/slice2cpp/Gen.h
Labels: cpp, cleanup

#1848 Fix mapping for optional (tagged) proxies
  cpp/include/Ice/Comparable.h
  cpp/include/Ice/InputStream.h
  cpp/include/Ice/OutputStream.h
  cpp/include/Ice/StreamHelpers.h
  cpp/src/Glacier2/RequestQueue.cpp
  cpp/src/IceDiscovery/LookupI.h
  cpp/src/Slice/SliceUtil.cpp
  cpp/src/Slice/Util.h
  cpp/src/slice2cpp/CPlusPlusUtil.cpp
  cpp/test/Glacier2/attack/Client.cpp
  cpp/test/Glacier2/dynamicFiltering/TestControllerI.cpp
  cpp/test/Ice/adapterDeactivation/AllTests.cpp
  cpp/test/Ice/custom/AllTests.cpp
  cpp/test/Ice/exceptions/AllTests.cpp
  cpp/test/Ice/facets/AllTests.cpp
  cpp/test/Ice/faultTolerance/AllTests.cpp
  cpp/test/Ice/hold/AllTests.cpp
  cpp/test/Ice/inheritance/AllTests.cpp
  cpp/test/Ice/objects/AllTests.cpp
  cpp/test/Ice/operations/Twoways.cpp
  cpp/test/Ice/optional/AllTests.cpp
  cpp/test/Ice/optional/Test.ice
  cpp/test/Ice/optional/TestAMD.ice
  cpp/test/Ice/optional/TestAMDI.cpp
  cpp/test/Ice/optional/TestAMDI.h
  cpp/test/Ice/optional/TestI.cpp
  cpp/test/Ice/optional/TestI.h
  cpp/test/Ice/proxy/AllTests.cpp
  cpp/test/Ice/retry/AllTests.cpp
  cpp/test/Ice/servantLocator/AllTests.cpp
  cpp/test/Ice/stream/Client.cpp
  cpp/test/IceGrid/deployer/AllTests.cpp
  cpp/test/IceGrid/replication/AllTests.cpp
  cpp/test/IceGrid/session/AllTests.cpp
  cpp/test/IceGrid/simple/AllTests.cpp
  cpp/test/IceSSL/configuration/AllTests.cpp
Labels: cpp, slice

#1865 Doxygen Awesome theme added to `cpp` and `slice` Doxygen builds
  cpp/doxygen/Doxyfile
  doxygen/Doxyfile
  doxygen/doxygen-awesome.css
Labels: cpp, documentation, slice

#1866 Use std::apply in generated code
  cpp/src/slice2cpp/Gen.cpp
Labels: cpp, slice compiler

#1874 Remove CustomLambdaOutgoing
  cpp/include/Ice/OutgoingAsync.h
  cpp/src/Ice/OutgoingAsync.cpp
  cpp/src/slice2cpp/Gen.cpp
  cpp/src/slice2cpp/Gen.h
Labels: cpp, slice compiler

#1877 Build Swift docs
  .github/workflows/docs.yml
Labels: documentation, swift
